@using BlazorProject.Service.IService;
@inherits TaskRecord
@{
    var showClass = IsVisible ? "d-block" : "d-none";
}
<div class="modal fade show @showClass" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" style="margin-left:34%;" id="taskModalLabel">Add Your Task</h5>
                <button type="button" class="btn-close text-white bg-danger" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body">
                <p>Are you really want to delete this task?</p>
            </div>
            <div class="modal-footer">
                <div class="col-5 m-auto">
                    <button type="submit" class="btn btn-primary form-control bg-danger" value="Delete" @onclick="DeleteTask">Delete</button>
                </div>
                <div class="col-5 m-auto">
                    <button type="button" class="btn btn-secondary form-control" @onclick="CloseModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Inject]
    protected ITaskService taskService { get; set; }
    protected bool IsVisible { get; set; } = false;
    protected int TaskId { get; set; }
    protected IEnumerable<Models.Task> TaskList { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<Models.Task>> OnDeleteTask { get; set; }

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
    }

    public void Show(int id)
    {
        IsVisible = true;
        TaskId = id;
        StateHasChanged();
    }

    public void CloseModal()
    {
        IsVisible = false;
    }

    new public void GetTasks()
    {
        TaskList = taskService.GetTasks();
    }

    public void DeleteTask()
    {
        bool isDeleted = taskService.DeleteTask(TaskId);
        if (isDeleted)
        {
            IsVisible = false;
            DeleteTaskHandler();
        }
    }

    public async System.Threading.Tasks.Task DeleteTaskHandler()
    {
        GetTasks();
        await OnDeleteTask.InvokeAsync(TaskList);
    }
}
