@using BlazorProject.Models;
<div class="task-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter]
    public List<Models.Task> Tasks { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback<Models.Task> OnStatusUpdated { get; set; }
    public Models.Task Payload { get; set; }

    public async System.Threading.Tasks.Task UpdateJobAsync(TaskStatuses newStatus)
    {
        var task = Tasks.SingleOrDefault(x => x.Id == Payload.Id);
        if (task != null)
        {
            task.TaskStatuses = newStatus;
            await OnStatusUpdated.InvokeAsync(Payload);
        }
    }
}
